@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/exo2-600-normal.woff2') format('woff2'),
    url('../fonts/exo2-600-normal.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
